
  <!DOCTYPE HTML>
<!--
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
          <div id="main">
            <div class="inner">

              <!-- Header -->
                <header id="header">
                  <ul class="icons">
                    <li><a href="https://github.com/JuanPabloSolano1" class="icon brands fa-github"></i><span class="label">Github</span></a>
                    <li><a href="" class="icon brands fa-google-drive"><span class="label">Resume</span></a></li>
                    <li><a href="https://www.linkedin.com/in/jusolano/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                    <li><a href="https://www.instagram.com/jsolanoss/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://www.facebook.com/juanpablo.solano.9619" class="icon brands fa-facebook-square"><span class="label">Medium</span></a></li>
                  </ul>
                </header>


              <!-- Banner -->
                <section id="banner">
                  <div id="banner_text" class="content">
                    <header>
                      <h1 class="main_header">Juan Pablo Solano</h1>
                      <p><strong>Passionate for Coding - Full Stack Developer</strong></p>
                    </header>
                    <p id ="first_paragraph">After living in Silicon Valley, California for over five years, I developed a great attraction towards the technology that essentially moves the world. I stayed as a data specialist at Google for more than two years but realized that my core interest always been product creation.
                    <br>
                    <br>
                    I decided to move entirely to web development and after completing a Bootcamp with Le Wagon. I gained a solid tech stack. Here you can find a bit of the different projects I've contributed and worked entirely for.
                    </p>
                    <ul class="actions">
                      <li><a id="learn_more"href="https://www.linkedin.com/in/jusolano/" class="button big">Learn More</a></li>
                    </ul>
                  </div>
                  <span class="image object">
                    <%= image_tag "BB.jpg"%>
                    <div>
                   </div>
                  </span>
                </section>

              <!-- Section -->
                <section class="second_section">
                  <header class="major">
                    <h2 class="header-major">Tech Stack</h2>
                  </header>
                  <div class="features">
                    <article>
                      <%=image_tag "Javascript_logo.png", class: "icon fa-gem"%>
                      <div class="content">
                        <h3 class="tech_language">Javascript</h3>

                      </div>
                    </article>
                    <article>
                      <%= image_tag '4223.png',  class: "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">Ruby on Rails</h3>

                      </div>
                    </article>
                    <article>
                      <%=image_tag "Ruby_programming.png", class: "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">Ruby</h3>

                      </div>
                    </article>
                    <article>
                      <%= image_tag  "react.jpg", class: "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">React</h3>

                      </div>
                    </article>
                    <article>
                      <%=image_tag "html.png", class: "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">HTML</h3>

                      </div>
                    </article>
                    <article>
                      <%= image_tag 'css.jpg', class:  "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">CSS</h3>

                      </div>
                    </article>
                     <article>
                      <%= image_tag 'sql.jpg', class:  "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">SQL Database</h3>

                      </div>
                    </article>
                     <article>
                      <%= image_tag 'python.png', class: "icon fa-gem" %>
                      <div class="content">
                        <h3 class="tech_language">Python</h3>

                      </div>
                    </article>
                  </div>
                </section>

              <!-- Section -->
                <section>
                  <header class="major">
                    <h2 class="header-major">Projects</h2>
                  </header>
                  <div class="posts">
                    <% @projects.each do |project| %>
                    <article>
                       <% if project.photo.attached? %>
                       <%=image_tag project.photo ,width: 380, height: 260, crop: :cover,id:"icons", class: "icon fa-gem"%>
                       <%end%>
                      <h3 class="project_name"><%=project.name%></h3>
                      <p><%=project.description%></p>
                      <ul class="actions">
                        <li><a href="<%=project.url%>" class="button">Website</a></li>
                         <% if policy(project).update? %>
                          <%= link_to "Update Project", edit_project_path(project.id), class: "button",id:"Update" %>
                         <%end%>
                         <% if policy(project).destroy? %>
                            <%= link_to 'Destroy', project_path(project.id),
                            data: {:confirm => 'Are you sure?'}, :method => :delete, class: "button", id: "destroy" %>
                         <%end%>
                      </ul>
                    </article>
                    <%end%>
                  </div>
                </section>
                <h3 class="element"></h3>
            </div>
          </div>
          <script>
             let posts = document.querySelector(".posts")
             Sortable.create(posts)
          </script>

        <!-- Sidebar -->
          <div id="sidebar">
            <div class="inner">

              <!-- Search -->
                <section id="search" class="alt">
                  <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                  </form>
                </section>

              <!-- Menu -->
                <nav id="menu">
                  <header class="major">
                    <h2>Menu</h2>
                  </header>
                  <ul>
                    <li><%= link_to "Resume", asset_path("JP.pdf"), target: "_blank" %></li>
                    <li><a href="https://www.linkedin.com/in/jusolano/">Linkedin</a></li>
                    <li><a href="https://github.com/JuanPabloSolano1">Github</a></li>
                    <li>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <header class="major">
                    <h2>Skills</h2>
                  </header>
                  <ul>
                    <li><a href="">Web Development</a></li>
                    <li><a href="generic.html">Data Analytics</a></li>
                    <li>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <header class="major">
                    <h2>Achievements</h2>
                  </header>
                  <ul>
                    <li><a><%= link_to "Coding Bootcamp certicate", asset_path("certificate.pdf"), target: "_blank" %></a></li>
                    <li><a href="https://www.hackerrank.com/juanpablosolano2">Hackerrank</a></li>
                    <li><a href="https://www.codewars.com/users/Juanpablosolanosuarez">Code Wars</a></li>
                    <li><a>2nd out of 19 students (Le Wagon Amsterdam)<a></li>
                  </ul>
                  <br>
                  <br>
                  <% if policy(Project).create? %>
                  <header class="major">
                    <h2>Platform Actions</h2>
                  </header>
                  <ul>
                      <li><%= link_to "New Project", new_project_path %></li>
                  <% end %>
                  </ul>
                </nav>

                <section>
                  <header class="major">
                    <h2>Get in touch</h2>
                  </header>
                  <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">juansolano1034@gmail.com</a></li>
                    <li class="icon solid fa-phone">(+31) 0614-777-17</li>
                    <li class="icon solid fa-home">Amsterdam NE<br /></li>
                  </ul>
                </section>

              <!-- Footer -->
                <footer id="footer">
                  <p class="copyright">&copy; Juan Pablo Solano. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a></p>
                </footer>

               <section>
                  <header class="major">
                    <h2>Contact Form</h2>
                  </header>
                   <form action="/send_mail" method="POST">
                    <div class="form_info">
                      <label>Name</label>
                      <%= text_field_tag 'name', nil, placeholder: 'Your Name', class: "contact_input" %>
                    </div>
                    <div class="form_info">
                      <label>Email</label>
                       <%= email_field_tag 'email', nil, placeholder: 'Your Email Address', class: "contact_input" %>
                    </div>
                    <div class="form_info">
                      <label id="message">Message</label>
                      <%= text_area_tag 'body', nil, rows: 4, placeholder: 'Comments...', id: "text_area_input"%>
                    </div>
                     <div>
                        <button id="button_form" class="button big">Submit</button>
                     </div>
                   </form>
                </section>
            </div>
          </div>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
  <script>
    var typed = new Typed('.element', {
    strings: ['Updates: A total of <%=@projects.count.to_s%> Projects Built', '','Updates: 8 programming languages or frameworks used', 'Updates: Two different projects under construction'],
    typeSpeed: 40,
    backDelay: 1500,
    startDelay: 1000,
    loop: true,
    cursorBlinking: false,
    showCursor: false
  })
  </script>
</html>
